.board-cards {
    border: 1px solid #444;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.card-item h3 {
    display: inline-block;
}
.card-item p {
    margin-left: 10px ;
    display: inline-block;
}